*{position:relative;}
.box(@w,@h:100%,@b:transparent){width:@w;height:@h;background:@b}
.subPage{@apply min-w-full;height:100vh;padding:70px;padding-bottom:140px;
    .backgImg{position:absolute;top:0;left:0;.box(100%,100%);}
    .conBox{.box(100%,100%);@apply flex items-center justify-center flex-col;
        .btnBox{.box(190px,55px);@apply flex items-center justify-between;position:absolute;bottom:-90px;left:0;
            .el-button{width:80px;height:100%;background:#fff;border:none;
                span{font-size:32px;color:#00425C;}
            }
            .el-button.hover{
                span{font-weight:700;}
            }
        }
        .btnBoxTwo{.box(160px,55px);@apply flex items-center justify-between;position:absolute;top:-20px;left:0;
            img{width:68px;}
            img:hover{opacity:0.9;}
        }
        .content{.box(100%,100%);@apply flex items-center justify-center flex-col;
            .title{font-size:155px;font-weight:700;line-height:1;text-align:center;}
            // .title.hover{font-size:300px;}
            .caseBox{margin-top:70px;
                .case{.box(700px,154px);border-radius:77px;box-shadow:0px 0px 5px 2px #888888;margin-top:20px;padding:10px;
                    .caseCon{.box(100%,100%);border:1px solid #000;border-radius:67px;@apply flex items-center justify-center flex-col;
                        p{line-height:1;font-weight:700;}
                        .text{font-size:50px;}
                        .textTwo{font-size:37px;}
                    }
                }
            }
            .caseBox.hover{
                .case{.box(842px,124px);border-radius:62px;
                    .caseCon{border-radius:52px;}
                }
            }
        }   
    }
    .qrCodeBox{@apply flex items-end;position:absolute;bottom:50px;right:45px;
        .leftText{text-align:right;color:#fff;font-size:37px;line-height:1;
            p{font-weight:600;}
        }
        img{width:150px;margin-left:15px;}
    }
}
.subPage.CLOTHING{background:#42497c;
    .conBox{
        .content{
            .title{color:#42497c;}
            .caseBox{color:#42497c;
                .case{
                    .caseCon{border-color:#42497c;}
                }
            }
        }
        .btnBox{
            .el-button{
                span{color:#42497c;}
            }
        }
    }
}
.subPage.FOOD{background:#6c79db;
    .conBox{
        .content{
            .title{color:#6c79db;}
            .caseBox{color:#6c79db;
                .case{
                    .caseCon{border-color:#6c79db;}
                }
            }
        }
        .btnBox{
            .el-button{
                span{color:#6c79db;}
            }
        }
    }
}
.subPage.HOUSING{background:#99d8f5;
    .conBox{
        .content{
            .title{color:#99d8f5;}
            .caseBox{color:#99d8f5;
                .case{
                    .caseCon{border-color:#99d8f5;}
                }
            }
        }
        .btnBox{
            .el-button{
                span{color:#99d8f5;}
            }
        }
    }
}