*{position:relative;}
.box(@w,@h:100%,@b:transparent){width:@w;height:@h;background:@b}
.subPageTwo{@apply min-w-full;height:100vh;padding:.7rem;padding-bottom:1rem;padding-top:1.125rem;overflow:hidden;
    .backgImg{position:absolute;top:0;left:0;.box(100%,100%);}
    .conBox{.box(100%,100%);@apply flex items-start justify-center;
        .leftBox{.box(1.6rem,95%);border:0.05rem solid #fff;border-right:none;border-bottom:none;}
        .rightBox{height:100%;@apply flex-1;border:0.05rem solid #fff;border-left:none;}
        .btnBox{.box(1.9rem,.55rem);@apply flex items-center justify-between;position:absolute;top:-.7rem;right:-.3rem;
            .el-button{width:.8rem;height:100%;background:#fff;border:none;
                span{font-size:.32rem;color:#00425C;}
            }
            .el-button.hover{
                span{font-weight:700;}
            }
        }
        .btnBoxTwo{.box(1.6rem,.55rem);@apply flex items-center justify-between;position:absolute;bottom:-.2rem;left:-.3rem;
            img{width:.68rem;}
            img:hover{opacity:0.9;}
        }
        .el-scrollbar{width:100%;position:absolute;padding:.6rem .5rem;
            .title{font-size:.7rem;color:#fff;font-weight:700;}
            .conTitle{font-size:.6rem;color:#fff;margin-top:.1rem;padding-left:.5rem;
                span{position:absolute;height:100%;top:0;left:0;}
            }
            .content{width:100%;
                .text{font-size:.6rem;color:#fff;margin-top:.1rem;padding-left:.5rem;
                    img{width:100%}
                }
            }
            .videoBox{padding-left:.5rem;margin-top:.1rem;width:100%;
                video{width:100%;}
            }
        }
        .btnPhoto{.box(1.9rem,.55rem,#fff);position:absolute;bottom:.2rem;right:.2rem;@apply flex items-center justify-center;font-size:.3rem;border-radius:.1rem;
            .el-icon{margin-right:.2rem;}
        }
    }
    .layerBox{.box(100%,100%,rgba(255,255,255,.5));position:fixed;top:0;left:0;
        .popBox{.box(12rem,8rem,#fff);border-radius:.2rem;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;box-shadow:0 0 .05rem .02rem #888888;padding:.2rem;
            .popConBox{.box(100%,100%);}
            .el-icon{.box(.8rem,.8rem,#fff);border-radius:50%;box-shadow:0 0 .05rem .02rem #888888;position:absolute;bottom:-.25rem;right:-.25rem;@apply flex items-center justify-center;font-size:.7rem;}
            .bottomPop{.box(100%,1.4rem,rgba(255,255,255,.5));position:absolute;bottom:0;left:0;color:rgb(0,66,92);font-size:.24rem;padding:.1rem;}
            .el-carousel{.box(100%,100%);
                .el-carousel__container{.box(100%,100%);}
                .el-carousel-item{.box(100%,100%);}
                img{width:100%;}
                .el-carousel__indicators{height:.4rem;background:rgba(255,255,255,.8);border-radius:.2rem;bottom:.2rem;padding:0 .2rem;@apply flex items-center;
                    .el-carousel__indicator{
                        .el-carousel__button{.box(.15rem,.15rem,#fff);border-radius:50%;}
                    }
                }
            }
        }
    }
} 
.subPageTwo.CLOTHING{background:#42497c;
    .conBox{
        .content{
            .title{color:#42497c;}
            .caseBox{color:#42497c;
                .case{
                    .caseCon{border-color:#42497c;}
                }
            }
        }
        .btnBox{
            .el-button{
                span{color:#42497c;}
            }
        }
        .btnPhoto{color:#42497c;}
    }
    .layerBox{
        .popBox{
            .popConBox{background:#42497c;}
            .el-icon{color:#42497c;}
            .el-carousel{
                .el-carousel__indicators{
                    .el-carousel__indicator{
                        .el-carousel__button.is-active{background:#42497c;}
                    }
                }
            }
        }
    }
}
.subPageTwo.FOOD{background:#6c79db;
    .conBox{
        .content{
            .title{color:#6c79db;}
            .caseBox{color:#6c79db;
                .case{
                    .caseCon{border-color:#6c79db;}
                }
            }
        }
        .btnBox{
            .el-button{
                span{color:#6c79db;}
            }
        }
        .btnPhoto{color:#6c79db;}
    }
    .layerBox{
        .popBox{
            .popConBox{background:#6c79db;}
            .el-icon{color:#6c79db;}
            .el-carousel{
                .el-carousel__indicators{
                    .el-carousel__indicator.is-active{
                        .el-carousel__button{background:#6c79db;}
                    }
                }
            }
        }
    }
}
.subPageTwo.HOUSING{background:#99d8f5;
    .conBox{
        .content{
            .title{color:#99d8f5;}
            .caseBox{color:#99d8f5;
                .case{
                    .caseCon{border-color:#99d8f5;}
                }
            }
        }
        .btnBox{
            .el-button{
                span{color:#99d8f5;}
            }
        }
        .btnPhoto{color:#99d8f5;}
    }
    .layerBox{
        .popBox{
            .popConBox{background:#99d8f5;}
            .el-icon{color:#99d8f5;}
            .el-carousel{
                .el-carousel__indicators{
                    .el-carousel__indicator.is-active{
                        .el-carousel__button{background:#99d8f5;}
                    }
                }
            }
        }
    }
}