@font-face {
  font-family: "Avenir";
  src: url("fonts/H-Avenir-2.ttc") format("truetype");
}

@font-face {
  font-family: "Avenir LT";
  src: url("fonts/Avenir-LT-Std-95-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir BLACK";
  src: url("fonts/AVENIR-BLACK-3.ttf") format("truetype");
}

body {
  margin: 0;
}
.button {
  position: absolute;
  display: block;
  background-color: rgba(0, 255, 255, 0);
}

#backgroundDiv {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw; /* Set the width to 100% of the viewport width */
  height: 100vh;
  display: flex;
}

#back {
  top: 50px;
  left: 120px;
  width: 50px;
  height: 50px;
}

#btnBack {
  top: 5vh;
  left: 8vw;
  width: 5vw;
  height: 7vh;
}

#btnHome {
  top: 5vh;
  left: 3vw;
  width: 5vw;
  height: 7vh;
}

/** Introduction **/
.introduction {
  color: #a8e5bd;
  font-family: "Avenir";
  font-size: 57px;
  text-align: center;
}

.content {
  padding: 10vh;
}

.intro-title {
  display: block;
  color: #a8e5bd;
  font-family: "Avenir LT";
  text-transform: uppercase;
  font-size: 8rem;
}

.intro-content {
  display: block;
  font-family: "Avenir";
  color: white;
  font-size: 2rem;
}

#overlayButton {
  position: absolute;
  top: 81vh;
  left: 45vw;
  width: 10vw;
  height: 10vh;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
/** end Introduction **/

/** Home **/
.btnHome {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

#btnHomeIdeation {
  top: 37vh;
  left: 19vw;
  width: 30vw;
  height: 21vh;
}

#btnHomeIncubation {
  top: 37vh;
  left: 51vw;
  width: 30vw;
  height: 21vh;
}

#btnHomeAcceleration {
  top: 62vh;
  left: 19vw;
  width: 30vw;
  height: 21vh;
}

#btnHomeElite {
  top: 62vh;
  left: 51vw;
  width: 30vw;
  height: 21vh;
}
/** end Home **/

/** Four button page **/
.FourButtonOne {
  top: 43vh;
  left: 29.5vw;
  width: 42.5vw;
  height: 11vh;
}

.FourButtonTwo {
  top: 55vh;
  left: 29.5vw;
  width: 42.5vw;
  height: 11vh;
}

.FourButtonThree {
  top: 68vh;
  left: 29.5vw;
  width: 42.5vw;
  height: 11vh;
}

.FourButtonFour {
  top: 80vh;
  left: 29.5vw;
  width: 42.5vw;
  height: 11vh;
}
/** end four button page **/

/** Video Modal **/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 10%;
  top: 10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  transform: translate(-10%, -10%);
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255, 255, 255, 0.4);
}

/* Modal Content Box */
.modal-content {
  margin: 5% 5%; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 20px;
  border: 5px solid white;
}

/* The Close Button */
/** Modal **/

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.icon-back {
  width: 1.5rem;
}

.scrollable {
  max-height: 70vh; /* Adjust to your preference */
  overflow-y: auto; /* This will allow vertical scrolling if content exceeds the height */
  padding: 10px 10px 10px 0; /* Some spacing for the content */
  height: 68vh;
  position: relative;
}

.scrollable-content {
  color: white;
  font-size: 2rem;
  font-family: "Avenir";
}

.scrollable-content .title {
  font-family: "Avenir LT";
  font-size: 4rem;
  margin: 0;
}

.scrollable-content p {
  font-family: "Avenir";
  font-size: 2rem;
  padding-left: 2rem;
}

p.pointer::before {
  content: "►";
  position: absolute;
  top: 10px;  /* Adjust as needed */
  left: 10px; /* Adjust as needed */
}

ul.disable-style {
  list-style-type: none;
  padding-left: 0.4rem;
}

div.first{
  display: flex;
  padding: 0 0.2rem;
}

li.first::before {
  content: "►";
  padding-right: 5px; /* Adjust spacing as needed */
}

ol{
  margin-top: 0;
}

.content-title{
  padding-left: 2.4rem;
  text-align: justify;
}

.span{
  padding-left: 0.6rem;
}

hr {
  border: 1.5px solid white;
}

.btnClose {
  border: 3px solid white;
  border-radius: 0.6rem;
  padding: 0.5rem 3rem;
  display: inline-block;
}

/** End Modal **/

/** Scrollbar **/
/* The container */
::-webkit-scrollbar {
  width: 14px; /* Width of the vertical scrollbar */
  height: 14px; /* Height of the horizontal scrollbar */
}

/* Handle or Thumb (the draggable scrolling part) */
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 7px;
  border: 1px solid white;
}

/* Handle or Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  border-radius: 7px;
  border: 2px solid white;
}

/* Corner (where both scrollbars meet) */
::-webkit-scrollbar-corner {
  background-color: transparent;
}